<h1>
    Login
</h1>

<div class="container"> 

    <div>
Username: <input type="text"  value="{{username}}" name="username" [(ngModel)]="username">
password: <input type="password" value="{{password}}" name="password" [(ngModel)]="password">


<button (click)="login()" class="btn btn-success">Login</button>
</div>
<div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

</div>